@import "../../css-config/mixins.scss";
@import "../../css-config/variaveis.scss";

.container-footer{
  padding: 20px;
  background: $cinzaclaro;
  display: flex;
  place-content: center;
  gap: 20px;
  flex-wrap: wrap;
  .sobre-footer{

    p{
      max-width: 30ch;
      
    }
  }
  .contato-footer{

  }
  .category-footer{

  }
}